<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Beaver F1 Leauge</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='main.css') }}">
    <script src='main.js'></script>
    <!--
        <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
        <link rel='icon' type="image/png" href="favicon.png">
    -->
</head>
<body>
    <header>
        <h1>Beaver F1 League</h1>
        <img src="{{ url_for('static', filename='/images/beaverf1-removebg-preview.png') }}" alt="Beaver Logo">
    </header>
    <nav>
        <div class="slanted"><a href="{{ url_for('index') }}">Home</a></div>
        <div class="slanted"><a href="{{ url_for('score_blog') }}">Score Feed</a></div>
        <div class="slanted"><a href="{{ url_for('my_team') }}">My Team</a></div>
        <div class="slanted"><a href="{{ url_for('rss_feed')}}">News Feed (RSS)</a></div>
        <div class="slanted"><a href="{{ url_for('rules') }}">Rules</a></div>
        <div class="slanted"><a href="{{ url_for('export') }}">Data Export</a></div>

    </nav>       
    <main>
        <section>
            <p>Welcome to the Beaver Formula 1 Fantasy Sports Leauge Homepage! The current standings and scores between teams are listed below. To view specific stats about your team, click the "my team" menu above, or pick their name from the list below. Race and score summaries for each week can be found in the "score feed" menu. If you missed a race, this is a great way to catch up! News from other sites can be found the the "news feed" menu, and the rules can be viewed on the rules page. If you'd like to explore the larger dataset, check out the "Data Export" page.</p>
        </section>
        <section>
            <h2>Scoreboard</h2>
            <p>Data taken is currently static, but will be attatched to a DB in the future. Data matches the real version of this leauge I'm running, but has had team names simplified for privacy.</p>
            <!--Static until I get DB working-->
            <!--empty first td is for auto numbering-->
            <table>
                <tr>
                    <th>Rank:</th>
                    <th>Team:</th>
                    <th>Owner:</th>
                    <th>Driver 1:</th>
                    <th>Driver 2:</th>
                    <th>Total Points:</th>
                    <th>Draft Points (Budget:)</th>
                </tr>
                <tr>
                    <td></td>
                    <td><a class="team_link" href="{{ url_for('my_team') }}">D.D</a></td>
                    <td>Kim</td>
                    <td>RUS</td>
                    <td>LEC</td>
                    <td>696</td>
                    <td>28</td>
                </tr>
                <tr>
                    <td></td>
                    <td><a class="team_link" href="{{ url_for('my_team') }}">H.W.</a></td>
                    <td>Daivon</td>
                    <td>SAI</td>
                    <td>TSU</td>
                    <td>638</td>
                    <td>37</td>
                </tr>
                <tr>
                    <td></td>
                    <td><a class="team_link" href="{{ url_for('my_team') }}">EABMODEL</a></td>
                    <td>Maria</td>
                    <td>PER</td>
                    <td>ALB</td>
                    <td>620</td>
                    <td>31</td>
                </tr>
                <tr>
                    <td></td>
                    <td><a class="team_link" href="{{ url_for('my_team') }}">$.M.</a></td>
                    <td>Troy</td>
                    <td>VER</td>
                    <td>PIA</td>
                    <td>618.8</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td></td>
                    <td><a class="team_link" href="{{ url_for('my_team') }}">AM44</a></td>
                    <td>Alan</td>
                    <td>OCO</td>
                    <td>HAM</td>
                    <td>559</td>
                    <td>16</td>
                </tr>
                <tr>
                    <td></td>
                    <td><a class="team_link" href="{{ url_for('my_team') }}">F.P.</a></td>
                    <td>Josiah</td>
                    <td>NOR</td>
                    <td>RIC</td>
                    <td>552</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td></td>
                    <td><a class="team_link" href="{{ url_for('my_team') }}">B.B.R.</a></td>
                    <td>Karissa</td>
                    <td>ALO</td>
                    <td>GAS</td>
                    <td>548</td>
                    <td>38</td>
                </tr>
                <tr>
                    <td></td>
                    <td><a class="team_link" href="{{ url_for('my_team') }}">La T.</a></td>
                    <td>Petra</td>
                    <td>STR</td>
                    <td>HUL</td>
                    <td>546</td>
                    <td>92</td>
                </tr>
            </table>
        </section>
    </main>
</body>
</html>