<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Beaver F1 Leauge</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='main.css') }}">
    <script src='main.js'></script>
    <!--
        <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
        <link rel='icon' type="image/png" href="favicon.png">
    -->
</head>
<body>
    <header>
        <h1>Rules - BF1</h1>
        <img src="{{ url_for('static', filename='/images/beaverf1-removebg-preview.png') }}" alt="Beaver Logo">

    </header>
    <nav>
        <div class="slanted"><a href="{{ url_for('index') }}">Home</a></div>
        <div class="slanted"><a href="{{ url_for('score_blog') }}">Score Feed</a></div>
        <div class="slanted"><a href="{{ url_for('my_team') }}">My Team</a></div>
        <div class="slanted"><a href="{{ url_for('rss_feed')}}">News Feed (RSS)</a></div>
        <div class="slanted"><a href="{{ url_for('rules') }}">Rules</a></div>
        <div class="slanted"><a href="{{ url_for('export') }}">Data Export</a></div>

    </nav>   
    <main>
        <section>
            <br>
            <em>Adapted from <a href="https://gist.github.com/TLop503/0960e3c2e9822da2f0fb25be641e187e">this gist</a>. Credit for many of the rules to <a href="https://github.com/geolessel/fantasy-f1-rules">@geolessel</a> on GH.</em>
            <p>This is the official rule sheet for the BF1 league. These are a work in progress and are subject to evolution as room for imporvement is discovered.</p>
        </section>  
        <section>
            <h2>TL;DR</h2>
            <p>In a hurry? here's a summary of the rules:<br>Each player selects 2 drivers via an auction-style draft. These drivers earn points for finishing races and passing people. You can trade drivers with other players, or by exchanging for an unsigned driver. A longer explanation is below.</p>
        </section>
        <section>
            <h2>Table of Contents:</h2>
            <nav class="local">
                <ul>
                    <li><a href="#teams">Teams</a></li>
                    <li><a href="#draft">Draft (Auction)</a></li>
                    <li><a href="#scoring">Scoring</a></li>
                    <li><a href="verst">Verstappen Addendum</a></li>
                </ul>
            </nav>
        </section>
        <section>
            <h2 id="teams">Teams</h2>
            <p>Teams have exactly 2 drivers. Each driver can only be on one team at a time. Drivers can be traded or sold in exchange for a leftover driver by posting in the corresponding Discord channel to initiate the trade. This is to ensure trades are auditable and don't conflict with each other. In the future the goal it to move this feature onto the website, but for now just use the Discord.</p>
            <h2 id="draft">Driver Draft (Auction)</h2>
            <p>Teams are set at the beginning of the season through an auction-style driver draft. Each team begins the draft with 100 points. The minimum bid for a driver is seven points. Drivers are auctioned off one at a time with the order determined randomly. This auction will be held at a mutually agreeable time (TBD). **For the 2025 Season, draft order of drivers will go in chapionship order, to aid in strategizing.**</p>
            <h3>Bidding:</h3>
            <ol>
                <li>First, a driver will be selected at random. (Note this is for the 2024 season, next year will use championship order).</li>
                <li>Each person will have a chance to bid, until a driver is sold. Bids must be conducted in whole values, bidding half a point is not allowed.</li>
                <li>If nobody bids, a driver will return to the pool and be re-bid later</li>
                <li>Repeat these steps until each player has 2 drivers. There will be some leftover, rules for these will be explained later on.</li>
            </ol>
            <h2 id="scoring">Scoring</h2>
            <p>Points fall into 3 catagories: <em>Position, Laps, and Championship</em>. Position points are equal to the delta between a driver's qualifying and finishing position. For example, if someone qualifies P5 but finishes P2, they score 3 points. Lap points are just equal to the number of laps a driver finishes. These are usually just the length of the race, unless a driver crashes out or gets lapped. Lastly, championship points are equal to the amount scored by the driver in traditional FIA scoring. Note that future years will multiply this value by 2, but the 2024 season does not include this rule.</p>
            <h3 id="verst">Verstappen Addendum</h3>
            <p>Due to an overwhelming level of domination, Championship Points scored by Max Verstappen are given a 75% adjustment, with the exception of the fastest lap point. This aims to place a handful of drivers as being viable choices, instead of leaving 1 very obvious frontrunner.</p>
        </section>
    </main>
</body>
</html>