<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Beaver F1 Leauge</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='main.css') }}">
    <script src='main.js'></script>
    <!--
        <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
        <link rel='icon' type="image/png" href="favicon.png">
    -->
</head>
<body>
    <header>
        <h1>Beaver F1 League</h1>
        <img src="{{ url_for('static', filename='/images/beaverf1-removebg-preview.png') }}" alt="Beaver Logo">
    </header>
    <nav>
        <div class="slanted"><a href="{{ url_for('index') }}">Home</a></div>
        <div class="slanted"><a href="{{ url_for('score_blog') }}">Score Feed</a></div>
        <div class="slanted"><a href="{{ url_for('my_team') }}">My Team</a></div>
        <div class="slanted"><a href="{{ url_for('rss_feed')}}">News Feed (RSS)</a></div>
        <div class="slanted"><a href="{{ url_for('rules') }}">Rules</a></div>
        <div class="slanted"><a href="{{ url_for('export') }}">Data Export</a></div>
        
        {% if session.logged_in %}
            <div class="slanted"><a href="{{ url_for('logout') }}">Logout</a></div>
        {% else %}
            <div class="slanted"><a href="{{ url_for('login') }}">Login</a></div>
            <div class="slanted"><a href="{{ url_for('register') }}">Register</a></div>
        {% endif %}
    </nav>      
    <main>
        <p>This page is under construction, and will have more information in the future.</p>
    </main>
</body>
</html>